FC/auxiliares/tmapi/cache/
FC/auxiliares/sofascore/cache/
FC/auxiliares/avanzadas/cache/
FC/auxiliares/tmapi/sin_id_tm.csv
__pycache__/
FC/auxiliares/equipos/cache/
FC/auxiliares/ligas/cache/
FC/auxiliares/equipos/cache_media/
FC/auxiliares/entrenadores/cache/
FC/Claude outputs/partidos_TM.csv
FC/Claude outputs/motor_valoracion_v1/valoracion/cache/
FC/auxiliares/selecciones/cache/
FC/auxiliares/partidos/cache_detalle/
_estado/
