FC/auxiliares/tmapi/cache/
FC/auxiliares/sofascore/cache/
FC/auxiliares/avanzadas/cache/
FC/auxiliares/tmapi/sin_id_tm.csv
__pycache__/
FC/auxiliares/equipos/cache/
FC/auxiliares/ligas/cache/
FC/auxiliares/equipos/cache_media/
